3.0.0.507
1003
1000,el PC según Intel\, IBM y Microsoft/index.htm,0,El PC según Intel\, IBM y Microsoft,0,985951437,1
vti_globalpage:BW|true
1001,el PC según Intel\, IBM y Microsoft/pc-1.htm,0,El PC... pág 1,1000,985951437,0
1002,el PC según Intel\, IBM y Microsoft/pc-2.htm,0,El PC... pág 2,1000,985951437,0