vti_encoding:SR|utf8-nl
/c\:/web macedonia temporal/hardware/el pc segun intel ibm y microsoft/pc.htm:hardware.htm
/c\:/web macedonia magazine/hardware/el pc segun intel ibm y microsoft/pc.htm:hardware.htm
http\://www.monografias.com/cgi-bin/buscar/enlaces:el\\ pc\\ según\\ intel,\\ ibm\\ y\\ microsoft/pc-1.htm
