vti_encoding:SR|utf8-nl
mailto\:email@email.com:soft-5.htm soft-6.htm
http\://www.emulatronia.com/:soft-6.htm
mailto\:frodrig99@yahoo.com:soft-5.htm soft-6.htm soft-intro.htm
http\://www.teleline.terra.es/personal/angigon/:soft-6.htm
http\://www.stratos-ad.com/:soft-6.htm
